# Use the following command to see the full list of options
# for the generichttp chart:
#   >> helm inspect sstk-apps/generichttp

image:
  repo: "docker-artifactory.shuttercorp.net/shutterstock/go-links"
deployment:
  port: 8067
  replicaCount: 1
  resources:
    limits:
      cpu: 250m
      memory: 128Mi
    requests:
      cpu: 250m
      memory: 128Mi

  probes:
    # Configuration for readiness and liveness probes.
    liveness:
      path: /healthz
    readiness:
     path: /healthz